// Specific CSS for your home-page
body{
  font-family: Helvetica;
}

#one {
  background-color: green;
}

#two {
  background-color: blue;
}

#three {
  background-color: orange;
}

#four {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.line{
  min-height: 50vh;
}
