// Specific CSS for your home-page
#liste{
  display: grid;
}

#one {
  grid-column: 1;
}

#two {
  grid-column: 2;
}

#three {
  grid-column: 3;
}

#four {
  grid-column: 4;
}

.tasks {
  border-radius: 10px;
  border: 5px solid black;
  grid-row: 1;
  width: 25%;
  padding: 50px;
  width: 300px;
}

.task {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  width: 220px;
}
