fieldset {
  overflow: hidden
}

.form-check{
  display: flex;
  justify-content: space-between;
  float: left;
  clear: none;
  border: 0.5rem #00D1B1;
  padding: 2px 2px 0 0;
  align-items: center;
}

.collection_radio_buttons {
  border: solid 1px grey;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 15px;
  font-size: 10px;
}

// hiding the radio button
input[type=radio], input.radio {
  display: none;
}

// Change the color when a button is check
input[type=radio]:checked + label {
  background-color: black;
  color: white;
}


