.tasks {
  border-radius: 10px;
  border: 5px solid black;
  grid-row: 1;
  width: 25%;
  padding: 50px;
  width: 300px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
  // width: 550px;
  color: black;
}

.task__new{
  display: flex;
  justify-content: space-around;
  height: 50px;
  padding: 10px;
}

.task__name{
  flex-grow: 0.9;
  text-align: left;
}

.task__header{
  height: 20px;
}

@media(max-width: 720px) {
  .task__new {
    /* re-define your grid for mobile and tablet */
    display: list-item;
    height: 50px;
  }
}
